<section class="banner animated-line bg-black">
  <div class="container-fluid p-0 py-10 overflow-hidden">
    <div class="row g-0">
      <div class="col-lg-3 col-md-6 text-white position-relative z-0">
        <div class="card rounded-0 bg-dark text-white position-relative">
          <img
            src="../assets/images/info01.jpg"
            class="card-img opacity-25"
            alt="background image"
          />
          <div
            class="card-img-overlay rounded-0 d-flex flex-column justify-content-center align-items-start"
          >
            <span class="material-symbols-outlined mb-8 fs-6"> tooltip_2 </span>
            <h5 class="card-title">對症下藥，專案製作</h5>
            <p class="card-text mt-12 fs-4">
              除了可以瘋狂提問之<br />還有機會一起完成專案
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-white position-relative z-0">...</div>
      <div class="col-lg-3 col-md-6 text-white position-relative z-0">...</div>
      <div class="col-lg-3 col-md-6 text-white position-relative z-0">...</div>
    </div>
  </div>
</section>
