<header class="header bg-secondary-dark">
  <div class="container">
    <nav class="navbar navbar-expand-lg py-4 p-lg-0">
      <a class="navbar-brand" href="./index.html">
        <h1 class="logo">程式家教</h1>
      </a>
      <button
        class="navbar-toggler border-0"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span>
          <div
            style="width: 20px; height: 4px; background-color: #62db54"
          ></div>
          <div
            style="
              margin-top: 4px;
              width: 20px;
              height: 4px;
              background-color: #62db54;
            "
          ></div
        ></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item text-center">
            <a class="nav-link active text-white py-lg-8 px-lg-6" href="./index.html"
              >首頁</a
            >
          </li>
          <li class="nav-item text-center">
            <a class="nav-link text-white py-lg-8 px-lg-6" href="./course.html">課程介紹</a>
          </li>
          <li class="nav-item text-center">
            <a
              class="nav-link text-white py-lg-8 px-lg-6 fs-lg-4 d-flex align-items-center justify-content-center"
              href="#"
            >
              <span class="material-icons text-white me-1">
                account_circle </span
              ><span>登入</span></a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
