<div class="bg-primary-dark position-relative pt-8">
  <div
    class="offset-lg-2 col-lg-8 d-flex justify-content-center overflow-hidden"
  >
    <div class="col-4 step text-center">
      <span class="circle text-white bg-primary-green rounded-circle">1</span>
      <p class="label text-primary-green mt-2">課程報名</p>
    </div>
    <div class="col-4 step text-center">
      <span class="circle text-white bg-secondary-dark border rounded-circle"
        >2</span
      >
      <p class="label text-white mt-2">信用卡付款</p>
    </div>
    <div class="col-4 step text-center">
      <span class="circle text-white bg-secondary-dark border rounded-circle"
        >3</span
      >
      <p class="label text-white mt-2">付款成功</p>
    </div>
  </div>
</div>
