.gradient-text {
  background-image: linear-gradient(180deg, #09ACF5, #62DB54);
  -webkit-background-clip: text; /* Chrome, Safari, Opera */
  background-clip: text;
  color: transparent;
  white-space: nowrap;
}
