// hero section
.hero {
  .gradient-text {
    background-image: linear-gradient(180deg, #09acf5, #62db54);
    -webkit-background-clip: text; /* Chrome, Safari, Opera */
    background-clip: text;
    color: transparent;
    white-space: nowrap;
  }
  h4 {
    @media (max-width: 992px) {
      width: max-content;
    }
  }
}

// feature section
.feature {
  .board {
    width: 306px;
    height: 264px;
  }
  .board:hover {
    border: 2px solid #62db54;
    border-radius: 12px;
    background-color: #202020;
    cursor: pointer;
  }
  .board:hover .material-symbols-outlined {
    background: linear-gradient(45deg, #09acf5, #62db54) !important;
    -webkit-background-clip: text !important;
    color: transparent !important;
  }
}
/* 當 hover 在 board 上，讓 feature 下的 h3 出現底線 */
.feature h3:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -16px; /* 如果底線要在文字下方一點，可以調整這個值 */
  width: 20%;
  height: 2px; /* 邊框的高度 */
  background: #62db54;
  display: block; /* 確保底線是區塊元素 */
  transition: 0.3s ease;
  @media screen and (max-width: 992px) {
    left: 50%;
    transform: translateX(-50%);
  }
}
.feature:hover h3:after {
  transition: 0.3s ease;
  width: 100%;
}

// learn section
.learn {
  .swiper-slide {
    width: auto;
    display: inline-block;
  }
}

// recommend section
.recommend {
  .card {
    width: 306px;
  }
  .card:hover {
    border: 1px solid #62db54;
    cursor: pointer;
  }
  @media screen and (max-width: 992px) {
    .card {
      width: 336px;
    }
  }

  .class-btn {
    width: fit-content;
    background: linear-gradient(45deg, #09acf5, #62db54);
  }
  .class-btn:hover {
    background: linear-gradient(45deg, #62db54, #09acf5);
  }
}

// banner section
.banner {

  .card-img-overlay {
    background-color: rgba(0, 0, 0, 0.3); /* Optional: Adds a darker overlay */
  }
}
.banner h5:after {
  content: "";
  position: absolute;
  margin-top: 16px;
  width: 10%;
  height: 3px; /* 邊框的高度 */
  background: white;
  display: block; /* 確保底線是區塊元素 */
  transition: 0.3s ease;
  @media screen and (max-width: 992px) {
    left: 50%;
    transform: translateX(-50%);
  }
}
.banner:hover h3:after {
  color: #62db54;
  transition: 0.3s ease;
  width: 100%;
}
