<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,1,0"
    />
    <title>homepage</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- hero section -->
    <section class="hero bg-primary-dark">
      <div class="container position-relative">
        <picture>
          <source
            srcset="../assets/images/bg_home_mobile.jpg"
            media="(max-width: 576px)"
          />
          <img src="../assets/images/bg_home.jpg" alt="Responsive Image" />
        </picture>
        <div
          class="hero-text position-absolute top-50 start-50 translate-middle px-lg-20 py-lg-12 px-7 py-8 bg-primary-dark border d-flex flex-column align-items-center"
        >
          <h2 class="fw-semibold gradient-text fs-lg-10 fs-5">
            全台最豐富的程式家教
          </h2>
          <h2 class="fw-normal text-white fs-lg-9 fs-5">
            在實踐中化理想為現實
          </h2>
          <h4 class="fw-light text-white fs-lg-4 fs-3 mt-6">
            全台最專業師資｜到府程式家教｜客製化課程
          </h4>
          <svg
            width="10"
            height="10"
            xmlns="http://www.w3.org/2000/svg"
            class="position-absolute top-0 start-0 translate-middle"
          >
            <rect width="10" height="10" style="fill: white" />
          </svg>
          <svg
            width="10"
            height="10"
            xmlns="http://www.w3.org/2000/svg"
            class="position-absolute top-0 start-100 translate-middle"
          >
            <rect width="10" height="10" style="fill: white" />
          </svg>
          <svg
            width="10"
            height="10"
            xmlns="http://www.w3.org/2000/svg"
            class="position-absolute top-100 start-0 translate-middle"
          >
            <rect width="10" height="10" style="fill: white" />
          </svg>
          <svg
            width="10"
            height="10"
            xmlns="http://www.w3.org/2000/svg"
            class="position-absolute top-100 start-100 translate-middle"
          >
            <rect width="10" height="10" style="fill: white" />
          </svg>
        </div>
      </div>
    </section>
    <!-- feature section -->
    <section class="feature bg-secondary-dark">
      <div class="container py-20">
        <div
          class="row d-flex flex-lg-row flex-column align-items-center justify-content-center gap-5 gap-lg-0"
        >
          <div
            class="col-lg-3 d-flex justify-content-center justify-content-lg-start"
          >
            <h3
              class="fs-xl-6 fs-lg-5 text-white text-center text-lg-start position-relative"
            >
              手把手帶你<br />親自到家教到會
            </h3>
          </div>
          <div class="col-lg-3 d-flex justify-content-center mt-10 mt-lg-0">
            <div
              class="board d-flex flex-column align-items-center justify-content-center"
            >
              <span class="icon material-symbols-outlined text-white fs-9">
                code
              </span>
              <h5 class="fs-lg-4 text-white mt-9 mb-4 fw-semibold">
                超過100 種專業課程
              </h5>
              <span class="fs-3 text-white text-center fw-light"
                >學習標準化的電腦形式語言<br />培養運算思維與邏輯素養</span
              >
            </div>
          </div>
          <div class="col-lg-3 d-flex justify-content-center">
            <div
              class="board d-flex flex-column align-items-center justify-content-center"
            >
              <span class="icon material-symbols-outlined text-white fs-9">
                rocket_launch
              </span>
              <h5 class="fs-lg-4 text-white mt-9 mb-4 fw-semibold">高效學習</h5>
              <span class="fs-3 text-white text-center fw-light"
                >客製化專屬課程表<br />讓學習變得簡單</span
              >
            </div>
          </div>
          <div class="col-lg-3 d-flex justify-content-center">
            <div
              class="board d-flex flex-column align-items-center justify-content-center"
            >
              <span class="icon material-symbols-outlined text-white fs-9">
                location_on
              </span>
              <h5 class="fs-lg-4 text-white mt-9 mb-4 fw-semibold">指定地點</h5>
              <span class="fs-3 text-white text-center fw-light"
                >專業老師到你指定的地點<br />一對一高效學習</span
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- procedure -->
    <section class="procedure animated-line bg-primary-dark">
      <div class="container py-20">
        <h3
          class="fs-xl-6 fs-lg-5 text-white text-center position-relative mb-20"
        >
          預期上課流程
        </h3>
        <div class="row">
          <div class="col-lg-3 mb-13">
            <div class="d-flex flex-column position-relative rounded-3 p-12 border border-1 rounded-3">
              <h4 class="position-absolute top-0 start-0 translate-middle fs-9 text-primary-green font-azeret-mono ms-19 px-1 bg-primary-dark">01</h4>
              <h5 class="fs-lg-4 text-white mb-4 fw-semibold pb-4">預約</h5>
              <span class="fs-3 text-white"
                >線上預約指定課程與老師<br />由老師安排專屬課程</span
              >
            </div>
          </div>
          <div class="col-lg-3 mb-13">
            <div class="d-flex flex-column position-relative rounded-3 p-12 border border-1 rounded-3">
              <h4 class="position-absolute top-0 start-0 translate-middle fs-9 text-primary-green font-azeret-mono ms-19 px-1 bg-primary-dark">02</h4>
              <h5 class="fs-lg-4 text-white mb-4 fw-semibold pb-4">付款</h5>
              <span class="fs-3 text-white"
                >支援各種支付方式<br />提供12期分期付款</span
              >
            </div>
          </div>
          <div class="col-lg-3 mb-13">
            <div class="d-flex flex-column position-relative rounded-3 p-12 border border-1 rounded-3">
              <h4 class="position-absolute top-0 start-0 translate-middle fs-9 text-primary-green font-azeret-mono ms-19 px-1 bg-primary-dark">03</h4>
              <h5 class="fs-lg-4 text-white mb-4 fw-semibold pb-4">上課</h5>
              <span class="fs-3 text-white"
                >地點由您指定<br />密集性一對一教學</span
              >
            </div>
          </div>
          <div class="col-lg-3">
            <div class="d-flex flex-column position-relative rounded-3 p-12 border border-1 rounded-3">
              <h4 class="position-absolute top-0 start-0 translate-middle fs-9 text-primary-green font-azeret-mono ms-19 px-1 bg-primary-dark">04</h4>
              <h5 class="fs-lg-4 text-white mb-4 fw-semibold pb-4">提供滿意度</h5>
              <span class="fs-3 text-white"
                >提供課程滿意度及回饋<br />讓我們持續成長與進步</span
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
